.linkEstilo {
    color: black;
    text-decoration-line: none;
}

.espacio{
    margin-right: 2rem;
}

.imagenTamaño{
    width: 8%;
    padding: 0%;
}

.posicionCorrecta{
    display: flex;
    align-items: center;
}